@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

body::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 200%;
		background-color: #399953;
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
		background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
		animation: rotate 4s linear infinite;
	}
	
	body::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 6px;
		top: 6px;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
		background: white;
		border-radius: 5px;
	}


#bg1{
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

#bg2{
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #884bbf 50%, #2B86C5 100%);
} 

#top{
    height: 35px;
    width: 100%;

    display: flex;
    justify-content: center;
}

#name{
    text-decoration: underline;
}

#middle{
    display: flex;
    justify-content: center;

    width: 100%;
}

#about{
    position: absolute;
    flex-wrap: wrap;
    
    font-family: 'Bangers', cursive;
    font-size: 25px;

    width: 40%;
    margin-right: 30%;
    margin-top: 4%;
}

#header{
    position: absolute;
    
    font-size: 15px;

    width: 40%;
    margin-right: 30%;
    margin-top: 14%;
}

#headshot{
    border-radius: 60%;
    border:10px solid #60daaa;
    animation: rainbow 5s linear infinite;

    height: 250px;
    width: 15%;
    margin-left: 40%;
}

@keyframes rainbow {
    0% { border-right-color: red; border-left-color: blue; border-top-color: green; border-bottom-color: yellow;}
    33% { border-right-color: green; border-left-color: yellow; border-top-color: blue; border-bottom-color: red;}
    66% { border-right-color: blue; border-left-color: red; border-top-color: yellow; border-bottom-color: green;}
    99% { border-right-color: yellow; border-left-color: green; border-top-color: red; border-bottom-color: blue;}
}

.contact{
    text-align: center;

}

.social{
    height: 50px;
    width: 10%;
}

#line{
    width: 100%;
    height: 25px;
    
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
}

#title{
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.portfolio{
    display: flex;
    justify-content: space-around;
}

.projects{
    border: 5px solid yellow;

    height: 75%;
    width: 80%;

    margin-left: 4%;

    transition: border-width 0.6s linear;
}

.containers :hover .projects{
    border:10px solid black;
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
   
    height: 100%;
    width: 100%;

    margin: 5%;
}

.containers{
    width: 30%;

}

	
