.row{       
    display:flex;
    justify-content:center;
    background: linear-gradient(#e66465, #9198e5);
    color:white;
    font-size:20px;
}

.top{
   margin:40px;
}

.headshot{
    border-radius: 60%;
    border:10px solid #60daaa;
    animation: rainbow 5s linear infinite;

    width:20%;
    margin: 5%;
}

@keyframes rainbow {
    0% { border-right-color: red; border-left-color: blue; border-top-color: green; border-bottom-color: yellow;}
    33% { border-right-color: green; border-left-color: yellow; border-top-color: blue; border-bottom-color: red;}
    66% { border-right-color: blue; border-left-color: red; border-top-color: yellow; border-bottom-color: green;}
    99% { border-right-color: yellow; border-left-color: green; border-top-color: red; border-bottom-color: blue;}
}

.mid{
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    color:black;
    display: flex;
    justify-content: center;
    font-size:50px;
}
.aboutme{
    border:1px solid black;   
}
.contact{
    background-color:black;
    color:white;
    flex-direction:column;
    
}

#copyright{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.social{
    color:red;
    font-size:50px;
}

#Balboa{
    width:50%;
}

#codeNation{
    width:50%;
}

.topA{
    display:flex;
    justify-content:center;
}

#about{
    text-decoration: none;
    color:red;
    font-size:25px;
}

#portfolio{
    text-decoration: none;
    color:blue;
    font-size:25px;
}

#contact{
    text-decoration: none;
    color:green;
    font-size:25px;
}

#name{
    font-size:25px;
    color: white;
}

/*AboutMe*/

.botA{ 
    height: 200px;
    width: 400px;

    position: fixed;
    top: 30%;
    left: 50%;
    margin-left: -200px;
}

#pA{
    font-size : 30px;
    margin-top: 75px;
}

.pictures{
    display: flex;
}

/*Portfolio*/
#p1{
    display:flex;
    justify-content: center;
    text-decoration: underline;
}

.Projects1{
    display:flex;
    flex-direction: row;

    position: fixed;

}

.Projects2{
    display:flex;
    flex-direction:row;

    position: fixed;
    
}

.Projects3{
    display:flex;
    flex-direction:row;
    
    position: fixed;
    
}

.first{
    width: 100%;
    height: 100px;
}

.second{
    width: 100%;
    height: 100px;
}

.third{
    width: 100%;
    height: 100px;
}

.fourth{
    width: 100%;
    height: 100px;
}

.ProjectsImg{
    width: 25%;
    margin: 50px;
}

.Projects{
    margin: 50px;
    font-size: 25px;
}
/*Contact*/

.info{
    height: 200px;
    width: 400px;

    position: fixed;
    top: 30%;
    left: 50%;
    margin-top: 100px;
    margin-left: -200px;
    
    font-size: 29px;
}